<div class="search-form mt-2">
    <form method="GET">
        <div class="form-group">
            <label for="search-input">Key search</label>
            <input type="text" name="q" class="form-control" id="search-input" aria-describedby="emailHelp" placeholder="Enter string search ...">

        </div>
       
        <button type="submit" class="btn btn-primary">Search</button>
        </form>
</div>